

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map { position: absolute;
  left: 35%;
  top: 0;
  width: 65%;
  height: 100%;
}

.order {
  background: #34495E;
  border-radius: 4px;
  padding: 0 15px;
  color: #fff;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  position: relative;
}

.order--alert::after {
  width: 7px;
  display: inline-block;
  content: ' ';
  background: #DD5D5D;
  z-index: 7;
  right: 0px;
  top: 0;
  height: 100%;
  position: absolute;
}

.order__content {
  background: #fff;
}

.order__title {
  padding-left: 15px;
}

.order-list {
  padding: 0;
}

.order__data {
  margin-bottom: 20px;
}

.order__data__item {
  display: inline-block;
  padding-right: 20px;
}

.order__data__item:last-child {
  padding-right: 0px;
}

.order__progress {
  margin-bottom: 20px;
}

.order__header {
  margin: 20px 0;
  margin-right: 5px;
}

.order-list .order__header {
  background: url('../img/chevron.svg') no-repeat center right;
}

.order__footer {
  line-height: 54px;
  background: #2F4255;
  margin: 0 -15px;
  padding: 0 15px;
}

.order__link {
  color: #fff!important;
  text-decoration: none!important;
}

.destination {
}

.destination__from {
  display: inline-block;
  background: url('../img/path.png') no-repeat center right;
  width: 50px;
  margin-right: 5px;
}

.sidebar {
  width: 35%;
  min-width: 450px;
  background: #1A2836;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0px 0px 50px #333
}

.sidebar__content {
  overflow-y: scroll;
  height: 100%;
  padding: 0 10px;
  padding-bottom: 10px;
  position: relative;
}

.sidebar__header {
  height: 60px;
  margin: 0 -10px;
  background: url('../img/logo.png') no-repeat center #1F3143;
  line-height: 16px;
}

.order__content {
  margin: 0 -15px;
}

.address-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.address {
  font-size: 13px;
  color: #333;
  padding: 15px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.3);
}

.address__description {
  padding: 15px 0;
  display: block;
  line-height: 1.7;
  margin: 0;
}

.address__date {
  color: #4293F9;
  font-weight: 400;
}

.data-point {
  display: inline-block;
  margin-right: 20px;
}

.data-point__value {
  color: #4293F9;
  font-weight: 400;
}

.data-point__name {
  color: #777777;
  text-transform: uppercase;
}

.back-button {
  display: inline-block;
  height: 100%;
  float: left;
  width: 60px;
  background: url('../img/back-chevron.svg') no-repeat center center;
}

.list-button, .filter-button {
  display: inline-block;
  height: 100%;
  float: right;
  border: 0;
  color: #fff;
  padding-left: 15px;
  outline: none;
}
.list-button {
  background: url('../img/list.svg') no-repeat center center;
  opacity: 0.6;
  width: 60px;
}

.filter-button {
  float: left;
  display: none;
  background: none;
}

.shows-filter .filter-button--all {
  display: block;
}

.shows-all .filter-button--filter {
  display: block;
}


.list-button--left {
  float: left;
}

.list-button--active {
  opacity: 1.0;
}

.status-badge {
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  margin-top: 1px;
  text-transform: uppercase;
  margin-right: $half-gutter;
  padding: 0 20px;
  display: inline-block;
}

.status-badge--green {
  background-color: #7CC37D;
}

.status-badge--yellow {
  background-color: #f0ad4e;
}

.address-label {
  display: inline-block;
}

.modal .modal-dialog {
  width: 560px!important;
}

.modal .modal-title {
  color: #333;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-overflow: ellipsis;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.modal .address__date {
  line-height: 36px;
}

.table {
  padding: 20px 10px;
  padding-bottom: 0;
}
.table__header {
  display: inline-block;
  text-align: center;
  color: #999;
  font-weight: 400;
  text-transform: uppercase;
}

.table__item {
  font-size: 16px;
}

.filter-checkbox {
  width: 24px;
  height: 21px;
  vertical-align: middle;
  margin: 0!important;
  display: none;
}

.shows-filter .filter-checkbox {
  display: inline-block;
}

.filter-submit {
  padding: 20px;
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  z-index: 9;
  background: #1F3143;
  display: none;
}

.filter-submit__button {
  width: 100%;
  height: 50px;
  display: block;
}

.toggle {
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  z-index: 99999;
  line-height: 11px;
  box-shadow: 0px 2px 6px rgba(0, 0,0,0.2);
  border: 1px solid #ccc;
  height: 40px;
}

.toggle__label {
  font-weight: 400;
  padding-left: 5px;
}
